.text{
    color: orange;
    font-size: 15px;
    font-weight: 800;
}
.question{
    color: black;
    font-size: 15px;
    font-weight: 800;
}
.outerShadow{
    border-radius: 5px;
    box-shadow: 3px 1px 6px 5px rgba(221, 221, 221, 0.7);

}
.space{
    white-space: nowrap
}
.greyField{
    background-color: #EBEDF5;
    border: none;
}
.field{
    min-height: 75px;
}
.textGrey{
    color: #878A8B;
    /*font-size: ;*/
    font-weight: 300;
}
.textBlack{
    color: black;
    font-weight: 900;
}