a{
    text-decoration: none;
    color: #868A8B;
}

.loginMenu{
    width: 50vw;
    color: #868A8B;
    box-shadow: 2vw 2vw 2vw rgba(0, 0, 0.4, 0);
}

.loginMenuTabs button{
    border: none;
    font-size: 1.5vw;
    width: 50%;
    height: 5vw;
    background-color: white;
}

.loginMenuContent{
    height: 34vw;
    border: 0.12vw solid #F77D48;
    border-top: 0;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    text-align: center;
    margin-top: -0.2vw;
}

.loginMenuCheckBoxLine{
    font-size: 1.5vw;
}

.loginMenuCheckBoxLine a{
    padding-left: 14vw;
}

.loginMenuCheckBoxLine label{
padding-left: 0.5vw;
}

.loginMenuForms{
    padding-top: 3.2vw;
}

.formControl{
    font-size: 1.2vw;
    width: 40vw;
    height: 3vw;
    margin: 0.2vw;
    background-color: #E0E3EF;
    border: none;
    padding-left: 1.2vw;
}

.loginButton:focus-within, .loginButton:hover, .formControl:focus, .formCheckInput:focus {
    outline: none;
    border-color: #F77D48;
    box-shadow: inset 0 0 #F77D48, 0 0 0.7vw #F77D48;
  }
  .formCheckInput {
    appearance: none;
    width: 1vw;
    height: 1vw;
    border: 0.2vw solid #868A8B;
    margin-bottom: 0;
  }

.formCheckInput:checked{
      background-color: #39393B;
      border: 0.2vw solid #F77D48;
}

.loginButton{
    margin-top: 2vw;
    font-weight: 800;
    font-size: 1.4vw;
    color: white;
    background-color: #F77D48;
    width: 28vw;
    height: 4vw;    
    border-radius: 2vw;
    border: none;
}

.signIn{
    font-size: 2vw;
}

.signIn a {
    font-weight: 800;
    color: #757FA8;
}

.signIn a:hover{
    color: #9EA8D5;
}

.signIn a:active{
    color: #525D88;
}

#inputPassword{
    background-image: url(Images/eye.png);
    background-repeat: no-repeat;
    background-size: 2.2vw;
    background-position: 38vw;
}





