.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.leftBlock{
    width: 40%;
}

.RightBlock{
    width: 50%;
}

.RightBlock img{
    width: 100%;
    height: auto;
}

.additionalBlock{
    margin: 0 0 50px;
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .wrapper{
        align-items: start;
    }
    .leftBlock{
        width: 50%;
    }

    .RightBlock{
        width: 45%;
    }
}

/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {
    .leftBlock{
        width: 100%;
    }
    .RightBlock{
        width: 100%;
    }
}