.title h1{
    font-weight: 900;
}
.cardText{
    font-weight: 800;
    color: #AAB6BB;
}
.cardText p{
    color: #007BA4;
}
.location{
    filter: drop-shadow(-5px -5px 10px rgba(0, 0, 0, 0.25));
}
.location iframe{
    border-radius: 7px;
}
.contactInfo > .card3{
    border: none;
}
@media (max-width: 576px) {
    .container{
        padding: 5vh 3vw;
    }
    .title h1{

    }
    .content{

    }
    .contactInfo > div{
        display: flex;
        border-bottom: 1px solid #AAB6BB;
        min-height: 100px;
        padding: 3vh 0;
    }
    .contactInfo img{
        width: 10vw;
    }
    .cardText{
        margin-left: 2vw;
    }
    .cardText p{

    }
    .location{
        margin-top: 5vh;
        height: 50vh;
        max-height: 300px;
    }
    .location iframe{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 577px) and (max-width: 768px){
    .container{
        padding: 5vh 3vw;
    }
    .title h1{

    }
    .content{

    }
    .contactInfo > div{
        display: flex;
        border-bottom: 1px solid #AAB6BB;
        min-height: 125px;
        padding: 3vh 0;
        width: 60%;
    }
    .contactInfo img{
        width: 7vw;
    }
    .cardText{
        margin-left: 2vw;
    }
    .cardText p{

    }
    .location{
        margin-top: 7vh;
        width: 100%;
        height: 60vh;
        max-height: 350px;
    }
    .location iframe{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 769px) and (max-width: 992px){
    .container{
        padding: 3vh 3vw;
    }
    .title h1{

    }
    .content{
        display: flex;
    }
    .contactInfo > div{
        display: flex;
        border-bottom: 1px solid #AAB6BB;
        min-height: 125px;
        padding: 3vh 0;
    }
    .contactInfo img{
        width: 5vw;
    }
    .cardText{
        margin-left: 2vw;
    }
    .cardText p{

    }
    .location{

    }
    .location iframe{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 993px) {
    .contacts{
        background: url("../../Assets/Vector51.png") top right no-repeat,url("../../Assets/Vector50.png")top right no-repeat,url("../../Assets/Ellipse30.png")bottom right no-repeat;
        background-size: 60vw 100%,58vw 100%,20vw auto;
    }
}
@media (min-width: 993px) and (max-width: 1200px){
    .container{
        padding: 3vh 4vw;
    }
    .title h1{

    }
    .content{
        display: flex;
    }
    .contactInfo > div{
        display: flex;
        border-bottom: 1px solid #AAB6BB;
        min-height: 150px;
        padding: 3vh 0;
    }
    .contactInfo img{
        width: 4vw;
    }
    .cardText{
        margin-left: 2vw;
    }
    .cardText p{

    }
    .location{

    }
    .location iframe{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 1201px) and (max-width: 1400px){
    .container{
        padding: 1vh 4vw;
    }
    .title{
        display: flex;
        margin-left: -4vw;
    }
    .title h1{
        margin-left: 2vw;
    }
    .rectangles{
        width: 6%;
    }
    .rectangles > div{
        background-color: #E0E3EF;
        margin-top: 15%;
        height: 25%;
    }
    .rect1{
        width: 95%;
    }
    .rect2{
        width: 75%;
    }
    .rect3{
        width: 55%;
    }
    .content{
        display: flex;
    }
    .contactInfo{
        margin-top: 5vh;
        padding: 0 5vw;
    }
    .contactInfo > div{
        display: flex;
        border-bottom: 1px solid #AAB6BB;
        height: 20vh;
        padding: 3vh 0;
    }
    .contactInfo img{
        width: 4vw;
    }
    .cardText{
        margin-left: 2vw;
    }
    .cardText p{

    }
    .location{

    }
    .location iframe{
        width: 90%;
        height: 90%;
    }
}
@media (min-width: 1401px){
    .container{
        padding: 2vh 4vw;
    }
    .title{
        display: flex;
        margin-left: -4vw;
    }
    .title h1{
        margin-left: 2vw;
        font-size: 72px;
    }
    .rectangles{
        width: 9%;
    }
    .rectangles > div{
        background-color: #E0E3EF;
        margin-top: 10%;
        height: 30%;
    }
    .rect1{
        width: 95%;
    }
    .rect2{
        width: 75%;
    }
    .rect3{
        width: 55%;
    }
    .content{
        display: flex;
    }
    .contactInfo{
        margin-top: 5vh;
        padding: 0 5vw;
    }
    .contactInfo > div{
        display: flex;
        border-bottom: 1px solid #AAB6BB;
        height: 20vh;
        padding: 3vh 0;
    }
    .contactInfo img{
        width: 4vw;
    }
    .cardText{
        margin-left: 2vw;
        font-size: 22px;
    }
    .cardText p{

    }
    .location{

    }
    .location iframe{
        width: 90%;
        height: 90%;
    }
}
