.descBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col:nth-child(1){
    width: 70%;
    display: flex;
}

.col:nth-child(2), .col:nth-child(3){
    width: 13%;
    display: flex;
    text-align: center;
}

.colum{
     width: 48%;
     display: flex;
 }

/* star component */
.star{
     font-size: 20px;
     margin: 0 2px;
     color: #818A8D;
     cursor: pointer;
 }

.star:hover, .star:focus{
    color: #F77D48;
}
/* ------------------ */





/*-------------- Tablet Pro--------------*/
@media only screen and (max-width: 1030px) {
    .col{
        width: 60%;
    }
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .col:nth-child(1){
        width: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        width: 48%;
        margin: 20px 0;
    }
}



/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {

}