.aboutUsSection{
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.content .leftBlock{
    align-self: flex-start;
    margin-bottom: 10%;
}
.content .rightBlock{

}
.content .rightBlock img{
    width: 100%;
}