
.col {
    width: 48%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tableBlock{
    width: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.descBlock{
    width: 30%;
}
.container{
    width: 100%;
    margin: 0 0 50px;
}



/*-------------- Tablet Pro--------------*/
@media only screen and (max-width: 1030px) {
    .descBlock{
        width: 100%;
        display: flex;
        align-content: space-between;
    }
    .container{
        width: 100%;
        margin: 50px 0 0;
    }
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .col {
        width: 100%;
    }
}

/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {

}