.blackText {
    font-size: 15px;
    font-weight: 800;
    color: black;

}
.blackText p{
    margin: 0;
}
.whiteText  p {
    margin: 0;
}
.whiteText{
    font-size: 1vw;
    font-weight: 800;
}
.imageBurger{
    height: 4rem;
}
.imageFooter{
    height: 7rem;
}

@media only screen and (max-width: 576px) {
    .whiteText{
        font-size: 3vw;
        display: flex;
        flex-direction: column;
        align-items:flex-start;

    }
    .blackText {
        font-size: 1.5vw;
    }
    .imageBurger{
        height: 3rem;
    }
}
@media (min-width: 577px) and (max-width: 767px) {
    .whiteText{
        font-size: 2vw;
    }
    .blackText {
        font-size: 2vw;
    }
    .imageBurger{
        height: 5rem;
    }
}
@media (min-width: 768px) {
    .whiteText{
        font-size: 1vw;
    }
    .blackText {
        font-size: 1vw;
    }
}