.stepItem{
    background: white;
    border-radius:10px;
    margin-bottom: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.number{
    background: #009DB3;
    width: 7%;
    padding: 2%;
    color: white;
    text-align: center;
    align-self: flex-start;
    border-radius: 10px 0 20% 0;
}
.content{
    margin: 5% 0;
    font-size: 1.4vw;
    flex-grow: 2;
    padding: 0 2vw;
}
.content p{
    font-weight: 800;
}
.content ul li{
    color: #F77D48;
    margin: 5% 0;
}
.content ul li span{
color: #677D85;
}
.stepItem img{
    height: auto;
    flex-grow: 1.5;
    margin-right: 5%;
    padding: 5% 0;
}
@media (max-width: 992px) {
    .stepItem{
        flex-direction: column;
    }
    .number{
        width: 15%;
        font-size: 4vw;
        line-break: auto;
    }
    .content{
        font-size: 2.5vw;
        padding: 0 2vw;
    }
}
