@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap');
.location iframe{
    border-radius: 7px;
    filter: drop-shadow(-5px -5px 10px rgba(0, 0, 0, 0.25));

}
.tableBorder{
    border-bottom: 1px solid #AAB6BB;
}
.tablePadding{
    padding-left: 5rem;
}
tbody tr td {
    padding-top: 0;
    padding-bottom: 1rem;
    font-family: 'M PLUS 1p', sans-serif;
}
.tableBorder>td p {
    margin: 0;
}

td span{
    color: #007BA4;
    font-weight: 800;
    font-size: 1rem;
}



