@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap');
.footer{
    background-color: #757E80;
    font-weight: 400;

}
.whiteText{
    color: white;

}
.footer p{
    margin: 0;
}
.fontStyle>div>div>p{
    font-family: 'M PLUS 1p', sans-serif;
}


.textUnderLogo{
    margin: 0;
    padding-bottom: 0;
    font-family: 'M PLUS 1p', sans-serif;
}
@media only screen and (max-width: 576px) {
    .textUnderLogo{
        font-size: 3vw;
    }
    .fontStyle>div>div>p{
        font-size: 3vw;
    }


}
@media (min-width: 577px) and (max-width: 767px) {
    .textUnderLogo{
        font-size: 2vw;
    }
    .messengers>p{
        font-size: 2.5vw;
    }
    .fontStyle>div>div>p{
        font-size: 2.5vw;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .textUnderLogo{
        font-size: 1.5vw;
    }
    .fontStyle>div>div>p{
        font-size: 1.5vw;
    }
    .messengers>span{
        font-size: 1.3vw;
    }

}
@media (min-width: 992px) and (max-width: 1399px)  {
    .fontStyle>div>div>p{
        font-size: 1vw;
    }
    .messengers>span{
        font-size: 1vw;
    }
}






