.input_group{
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
}
.input_groupOrange{
    display: flex;
    align-items: stretch;
    width: 100%;
}
.orangeInput{
    width: 60%;
    border: 1px solid #F77D48;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background: transparent;
}
.orangeInput:hover, .greenInput:hover {
    background: transparent;
}
.greenInput{
    width: 60%;
    border: 1px solid #009DB3;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background: transparent;
}
.greenBtn{
    width: 40%;
    background-color: #009DB3;
    border: 1px solid #009DB3;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


.greenBtn:hover{
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #009DB3;
    color: #009DB3;
}


.orangeBtn{
    width: 40%;
    background-color: #F77D48;
    border: 1px solid #F77D48;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.orangeBtn:hover{
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #F77D48;
    color: #F77D48;
}
@media screen and (max-width: 435px){
    .input_group, .input_groupOrange {
        margin-top: 2rem;
    }
    /*.orangeInput{*/
    /*    width: 10rem;;*/
    /*}*/
    /*.greenInput{*/
    /*    width: 10rem;*/
    /*}*/
    /*.greenBtn{*/
    /*    width: 10rem;*/
    /*    font-size: 1rem;*/
    /*}*/
    /*.orangeBtn{*/
    /*    width: 7rem;*/
    /*}*/
}
@media (min-width: 436px)and (max-width: 767px) {
    .input_group, .input_groupOrange {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    /*.orangeInput{*/
    /*    width: 10rem;;*/
    /*}*/
    /*.greenInput{*/
    /*    width: 10rem;*/
    /*}*/
    /*.greenBtn{*/
    /*    width: 10rem;*/
    /*    font-size: 1rem;*/
    /*}*/
    /*.orangeBtn{*/
    /*    width: 7rem;*/
    /*}*/

}
@media (min-width: 992px) and (max-width: 1200px){
    /*.orangeInput{*/
    /*    width: 15rem;;*/
    /*}*/
    /*.greenInput{*/
    /*    width: 10rem;*/
    /*}*/
    /*.greenBtn{*/
    /*    width: 10rem;*/
    /*    font-size: 1rem;*/
    /*}*/
    /*.orangeBtn{*/
    /*    width: 10rem;*/
    /*}*/
}

