
.greenHeader {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #009DB3;
    border-radius: 0.25rem;
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .greenHeader {
       margin: 10px 0;
    }
}