
.headerBlock {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 3px;
}

.headerBlock:hover {
    box-shadow: none;
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .headerBlock {
       margin: 10px 0;
    }
}