
.block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0;
}

/*-------------- form --------------*/
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0;
}
.input{
    width: 100%;
    height: 60px;
    font-size: 2.5vw;
    font-weight: 900;
    border: 2px solid transparent;
    padding: 0;
}
input:focus{
    outline: none;
    border-bottom:3px solid black;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #818A8D;
}
.btn:hover {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: black;
}


/*-------------- user --------------*/
.user{
    width: 730px; /*---- stub. percents doesn't work ----*/
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


/*-------------- Tablet --------------*/
@media only screen and (max-width: 768px) {

}



/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {

}
