.col{
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.col:nth-child(1){
    width: 40%;
}

.col:nth-child(2),.col:nth-child(3){
    width: 25%;
}

.tableBlock {
    width: 100%;
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.scrollBlock{
    width: 100%;
    height: 450px;
    padding-right: 10px;
    overflow: auto;
}

/*-------------- Card Lesson--------------*/
.currentLesson {
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.25rem;
}

.card {
    width: 100%;
    margin: 20px;
}

.images {
    width: 100%;
    height: auto;
    margin: 0 0 20px;
}

.btnBlock {
    width: 100%;
    margin: 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*-------------- 1300px--------------*/
@media only screen and (max-width: 1300px) {
    .col:nth-child(1){
        width: 50%;
        margin: 0 0 50px;
    }

    .col:nth-child(2){
        width: 45%;
        margin: 0 0 50px;
    }

    .col:nth-child(3){
        width: 50%;
    }
    .scrollBlock{
        height: 250px;
    }
}


/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {

    .col:nth-child(1),.col:nth-child(2),.col:nth-child(3){
        width: 100%;
    }
}
