.txtAdditional{
    font-size: 1.3vw;
    color:#007BA4;
    font-weight: 800;
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .txtAdditional{
        font-size: 3vw;
    }
}

/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {
    .txtAdditional{
        font-size: 4vw;
    }
}