
.image {
    width: auto;
    height: 150px; /*---- stub. percents doesn't work ----*/
    border-radius: 0.25rem 0 0 0.25rem;
}

.header {
    width: 580px;
    margin: 0 auto;
}


/*-------------- Tablet Pro--------------*/
@media only screen and (max-width: 1030px) {
    .image {
        height: 80px; /*---- stub. percents doesn't work ----*/
    }
    .header {
        width: 400px;
    }
}


/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .header {
        width: 500px;
    }
}


/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {
    .image {
        height: 120px; /*---- stub. percents doesn't work ----*/
    }
    .header {
       margin: 10px;
    }
}
