
.col{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
}
.block:first-of-type{
    background-color: #757FA8;
}
.block:last-of-type{

}
/*-------------- Tablet Pro--------------*/
@media only screen and (max-width: 1030px) {
    .col{
        width: 60%;
    }
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .col{
        width: 100%;
    }
}



/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {

}