
.col{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
}

.panel{
    width: 100%;
    overflow: hidden;
}

/*-------------- Tablet Pro--------------*/
@media only screen and (max-width: 1030px) {
    .col{
        width: 60%;
    }
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .col{
        width: 100%;
    }
}



/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {

}