.txtAdditional{
    font-size: 20px;/* 1vw*/
    color: #878A8B;
    margin: 0;
    padding: 0;
}

/*-------------- Tablet Pro--------------*/
@media only screen and (max-width: 1030px) {
    /*  .txtAdditional{
         font-size:1.5vw;
    }*/
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .txtAdditional{
        font-size: 13px;/*2.5vw*/
    }
}

/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {
    /* .txtAdditional{
        font-size:3.5vw;
    }*/
}