
.col{
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
}


/*-------------- Tablet Pro--------------*/
@media only screen and (max-width: 1030px) {
    .block:nth-of-type(3){
        width: 35%;
    }
}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {
    .col{
        width: 100%;
    }
    .block{
        margin: 0;
    }
    .block:nth-of-type(3){
        width: 65%;
    }
}


/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {

}