.borderBtn{
    width: auto;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
}
.borderBtn:hover, .borderBtn:focus{
    color: white;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {
    .borderBtn{
        font-size: 13px;
    }
}