
.wrapper{
    width: 100%;
    height: 900px;
    overflow: auto;
}

.coverBlock{
    width: 100%;
    height: 300px;
}

.cover{
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    transition: background-color 0.5s;
}
.cover:hover{
    background-color: rgba(0,0,0,0.2);
}

.fileInput{
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background-color: #009db3;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fileInput:hover{
    background-color: transparent;
    border: 2px solid #009db3;
    color: #009db3;
    box-shadow: none;
}

.file{
    width: 100%;
    display: none;
}

/* text block*/

.block{
    padding: 30px;
}

.txt{
    margin: 30px 0;
}


/*-------------- Tablet Pro--------------*/
@media only screen and (max-width: 1030px) {

}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 770px) {

}

/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {

}